@page "/"

<PageTitle>Aseguradora</PageTitle>
<h1>Bienvenido a la Aseguradora de Pedro Spadari</h1>
<h2>Trabajo final Seminario de Lenguajes - dotnet</h2>
<p>Cada una de las entidades de la aseguradora tiene un listado, desde el cual se pueden realizar las operaciones requeridas para dicha entidad.</p>
