@page "/titulares/vehiculos/{Id:int?}";
@inject NavigationManager Navigator;

<ListaTitulares/>
<Dialogo CerrarDialogo="Cerrar" HasError=@_hasError>
  @if(!HasError){
  <ListaVehiculos IdTitular="@Id" OnError="MostrarError" ParaTitular=true/>
  }
  else{
    <h3 class="text-danger">@MensajeError</h3>
  }
</Dialogo>

@code {
    [Parameter] public int Id { get; set; }
    public bool HasError { get; set; } = false;
    public string? MensajeError { get; set; }
    void Cerrar()
    { 
      Navigator.NavigateTo("/titulares");
    }
    void MostrarError(string? msj){
      HasError = true;
      MensajeError = msj;
      StateHasChanged();
    }
}