@inject AgregarTitularUseCase AgregarTitularUseCase;

<h1>Agregar un titular:</h1>
<input type="text" placeholder="Nombre" @bind="t.Nombre">
<input type="text" placeholder="Apellido" @bind="t.Apellido">
<input type="number" placeholder="DNI" @bind="t.DNI">
<input type="text" placeholder="Dirección" @bind="t.Direccion">
<input type="tel" placeholder="Teléfono" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" @bind="t.Telefono">
<input type="email" placeholder="Email" @bind="t.Email">
<button @onclick="Agregar">Agregar</button>

@code{
    Titular t = new Titular();
    void Agregar() => AgregarTitularUseCase.Ejecutar(t);
}