@inject AgregarPolizaUseCase AgregarPolizaUseCase;

<h1>Agregar un póliza:</h1>
<input type="number" placeholder="Valor asegurado" @bind="p.ValorAsegurado">
<input type="text" placeholder="Franquicia" @bind="p.Franquicia">
<input type="text" placeholder="Tipo de cobertura" @bind="p.TipoDeCobertura">
<input type="date" placeholder="Fecha de inicio de la vigencia" @bind="p.FechaInicioVigencia">
<input type="date" placeholder="Fecha de fin de la vigencia" @bind="p.FechaFinVigencia">
<input type="number" placeholder="Id del vehículo" @bind="p.VehiculoId">
<button @onclick="Agregar">Agregar</button>

@code{
    Poliza p = new Poliza();
    void Agregar() => AgregarPolizaUseCase.Ejecutar(p);
}