@inject AgregarTitularUseCase AgregarTitularUseCase;

@if(Visible){
  <div id="confirmarEliminacion">
    <div id="mensaje">
      <h1>@Mensaje</h1>
    </div>
    <div id="botones">
      <button class="btn btn-danger" @onclick="()=>Cerrar(true)">Aceptar</button>
      <button class="btn btn-success" @onclick="()=>Cerrar(false)">Cancelar</button>
    </div>
  </div>
}

@code {
  [Parameter] public EventCallback<bool> CerrarDialogo  { get; set; }
  [Parameter] public string? Mensaje { get; set; }
  [Parameter] public bool Visible { get; set; } = false;
  void Cerrar(bool eliminar)
  {
    CerrarDialogo.InvokeAsync(eliminar);
  }
} 
