@inject AgregarVehiculoUseCase AgregarVehiculoUseCase;
@inject EliminarVehiculoUseCase EliminarVehiculoUseCase;
@inject GetVehiculoUseCase GetVehiculoUseCase;

<div>
    <h3>@Mensaje</h3>
    <button class="btn btn-danger" @onclick="()=>Cerrar(true)">Aceptar</button>
    <button class="btn btn-primary" @onclick="()=>Cerrar(false)">Cancelar</button>
</div>

@code{
    [Parameter] public string? Mensaje { get; set; }
    [Parameter] public int Id {get; set;}
    [Parameter] public EventCallback CerrarDialogo{get; set;}
    Vehiculo _vehiculo = new Vehiculo();

    protected override void OnParametersSet() 
    {
        if(Id != 0){
            var VehiculoEcontrado = GetVehiculoUseCase.Ejecutar(Id);
            if(VehiculoEcontrado != null)
            {
                _vehiculo = VehiculoEcontrado;
                Mensaje = $"Eliminar al Vehiculo {_vehiculo.Dominio}?";
            }
        }
    }
    void Cerrar(bool eliminar){
        if(eliminar){
            EliminarVehiculoUseCase.Ejecutar(Id);
        }
        CerrarDialogo.InvokeAsync();
    }
}