<div class="backdrop" @onclick="Cerrar"></div>
@if (HasError){
    <dialog open class="dialogo error">@ChildContent</dialog>
}
else{
    <dialog open class="dialogo">@ChildContent</dialog>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<bool> CerrarDialogo { get; set; }
    [Parameter] public bool HasError { get; set; } = false;
    void Cerrar()
    {
        CerrarDialogo.InvokeAsync();
    }
} 
