<div class="backdrop" @onclick="Cerrar"></div>
<dialog open class="dialogo">@ChildContent</dialog>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<bool> CerrarDialogo { get; set; }
    void Cerrar()
    {
        CerrarDialogo.InvokeAsync();
    }
} 
