@inject AgregarTerceroUseCase AgregarTerceroUseCase;
@inject ModificarTerceroUseCase ModificarTerceroUseCase;
@inject GetTerceroUseCase GetTerceroUseCase;

@if(Visible){
    <div>
        @if(_modificar){
            <h1>Modificar al tercero: @_tercero.Nombre</h1>
        }
        else{
            <h1>Agregar un tercero</h1>
        }
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="nombre-tercero" placeholder="Nombre" @bind="_tercero.Nombre">
            <label for="nombre-tercero" class="form-label">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="apellido-tercero" placeholder="Apellido" @bind="_tercero.Apellido">
            <label for="apellido-tercero" class="form-label">Apellido</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="dni-tercero" placeholder="DNI" @bind="_tercero.DNI" maxlength="8">
            <label for="dni-tercero" class="form-label">DNI</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="nombre-aseguradora" placeholder="Nombre de la aseguradora" @bind="_tercero.NombreAseguradora">
            <label for="nombre-aseguradora" class="form-label">Nombre de la aseguradora</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="tel" id="telefono-tercero" placeholder="Teléfono" @bind="_tercero.Telefono">
            <label for="telefono-tercero" class="form-label">Teléfono</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="siniestro-id" placeholder="Id del siniestro" @bind="_tercero.SiniestroId">
            <label for="siniestro-id" class="form-label">Id del siniestro</label>
        </div>
        <button @onclick="Cerrar" class="btn btn-success">@if(_modificar){<span>Modificar</span>}else{<span>Agregar</span>}</button>
    </div>
}

@code{
    [Parameter] public int Id {get; set;}
    [Parameter] public EventCallback CerrarDialogo{get; set;}
    [Parameter] public EventCallback<string> OnError{get; set;}
    [Parameter] public bool Visible {get; set;} = false;
    public bool _modificar {get; set;} = false;
    Tercero _tercero = new Tercero();

    protected override void OnParametersSet() 
    {
        if(Id != 0){
            var _terceroEncontrado = GetTerceroUseCase.Ejecutar(Id);
            if(_terceroEncontrado != null){
                _modificar = true;
                _tercero = _terceroEncontrado;
            }
        }
    }
    void Cerrar(){
        Error error;
        error = _modificar ? ModificarTerceroUseCase.Ejecutar(_tercero) : AgregarTerceroUseCase.Ejecutar(_tercero);

        if(error.Mensaje != "") OnError.InvokeAsync(error.Mensaje);
        else CerrarDialogo.InvokeAsync();
    }
}