@inject AgregarPolizaUseCase AgregarPolizaUseCase;
@inject ModificarPolizaUseCase ModificarPolizaUseCase;
@inject GetPolizaUseCase GetPolizaUseCase;

@if(Visible){
    <div>
        @if(_modificar){
            <h1>Modificar a la póliza @_poliza.Id</h1>
        }
        else{
            <h1>Agregar una póliza</h1>
        }
        <div class="form-floating mb-3">
            <input class="form-control" id="valorAseg" type="number" step="0.01" placeholder="Valor asegurado" @bind="_poliza.ValorAsegurado">
            <label for="valorAseg" class="form-label">Valor asegurado</label>
        </div>
        <div class="mb-3">
            <label for="franquicia" class="form-label">Franquicia</label>
            <input class="form-control" id="franquicia" type="number" step="0.01" placeholder="Franquicia" @bind="_poliza.Franquicia">
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="tipoCobert" type="text" placeholder="Tipo de cobertura" @bind="_poliza.TipoDeCobertura">
            <label for="tipoCobert" class="form-label">Tipo de cobertura</label>
        </div>
        <div class="mb-3">
            <label for="fechaIniV" class="form-label">Fecha de inicio de la vigencia</label>
            <input class="form-control" id="fechaIniV" type="date" min="2010-01-01" max="2024-06-19" placeholder="Fecha de inicio de la vigencia" @bind="_poliza.FechaInicioVigencia">
        </div>
        <div class="mb-3">
            <label for="fechaFinV" class="form-label">Fecha de fin de la vigencia</label>
            <input class="form-control" id="fechaFinV" type="date" min="2010-01-01" max="2024-06-19" placeholder="Fecha de fin de la vigencia" @bind="_poliza.FechaFinVigencia">
        </div>
        <div class="mb-3">
            <label for="vehiculoId" class="form-label">Id del vehículo</label>
            <input class="form-control" id="vehiculoId" type="number" min="1" placeholder="Id del vehículo" @bind="_poliza.VehiculoId">
        </div>
        <button @onclick="Cerrar" class="btn btn-success">@if(_modificar){<span>Modificar</span>}else{<span>Agregar</span>}</button>
    </div>
}

@code{
    [Parameter] public int Id {get; set;}
    [Parameter] public EventCallback CerrarDialogo{get; set;}
    [Parameter] public EventCallback<string> OnError{get; set;}
    [Parameter] public bool Visible {get; set;} = false;
    public bool _modificar {get; set;} = false;
    Poliza _poliza = new Poliza();

    protected override void OnParametersSet() 
    {
        _poliza.FechaInicioVigencia = new DateTime(2018, 01, 01);
        _poliza.FechaFinVigencia = new DateTime(2018, 01, 01);
        if(Id != 0){
            var _poliza = GetPolizaUseCase.Ejecutar(Id);
            if(_poliza != null) _modificar = true;
        }
    }
    void Cerrar(){
        Error error;
        error = _modificar ? ModificarPolizaUseCase.Ejecutar(_poliza) : AgregarPolizaUseCase.Ejecutar(_poliza);

        if(error.Mensaje != "") OnError.InvokeAsync(error.Mensaje);
        else CerrarDialogo.InvokeAsync();
    }
}