@inject AgregarSiniestroUseCase AgregarSiniestroUseCase;
@inject ModificarSiniestroUseCase ModificarSiniestroUseCase;
@inject GetSiniestroUseCase GetSiniestroUseCase;

@if(Visible){
        <div>
        @if(_modificar){
            <PageTitle>Modificar siniestro</PageTitle>
            <h1>Modificar al siniestro: @_siniestro.Id</h1>
        }
        else{
            <PageTitle>Agregar siniestro</PageTitle>
            <h1>Agregar un siniestro</h1>
        }
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="dir-siniestro" placeholder="Dirección del siniestro" @bind="_siniestro.DireccionSiniestro">
            <label for="dir-siniestro" class="form-label">Direción del siniestro</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="date" id="fecha-ocurr" placeholder="Fecha de ocurrencia" min="2010-01-01" max="2023-06-19" @bind="_siniestro.FechaOcurrencia">
            <label for="fecha-ocurr" class="form-label">Fecha de ocurrencia</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" id="descrip-siniestro" rows="3" placeholder="Descripción del siniestro" @bind="_siniestro.Descripcion"></textarea>
            <label for="descrip-siniestro" class="form-label">Descripción del siniestro</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="poliza-id" placeholder="Id de la póliza" @bind="_siniestro.PolizaId">
            <label for="poliza-id" class="form-label">Id de la póliza</label>
        </div>
        <button @onclick="Cerrar" class="btn btn-success btn-ingresar" >@if(_modificar){<span>Modificar</span>}else{<span>Agregar</span>}</button>
    </div>
}

@code{
    [Parameter] public int Id {get; set;}
    [Parameter] public EventCallback CerrarDialogo{get; set;}
    [Parameter] public EventCallback<string> OnError{get; set;}
    [Parameter] public bool Visible {get; set;} = false;
    bool _modificar = false;
    Siniestro _siniestro = new Siniestro();

    protected override void OnParametersSet() 
    {
        if(Id != 0){
            var _siniestroEncontrado = GetSiniestroUseCase.Ejecutar(Id);
            if(_siniestroEncontrado != null){
                _modificar = true;
                _siniestro = _siniestroEncontrado;
            }
        }
    }
    void Cerrar(){
        Error error;
        error = _modificar ? ModificarSiniestroUseCase.Ejecutar(_siniestro) : AgregarSiniestroUseCase.Ejecutar(_siniestro);

        if(error.Mensaje != "") OnError.InvokeAsync(error.Mensaje);
        else CerrarDialogo.InvokeAsync();
    }
}