@inject AgregarVehiculoUseCase AgregarVehiculoUseCase;
@inject ModificarVehiculoUseCase ModificarVehiculoUseCase;
@inject GetVehiculoUseCase GetVehiculoUseCase;

@if(Visible){
    <div>
        @if(_modificar){
            <PageTitle>Modificar vehículo</PageTitle>
            <h1>Modificar al vehículo: @_dominio</h1>
        }
        else{
            <PageTitle>Agregar vehículo</PageTitle>
            <h1>Agregar un vehículo</h1>
        }
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="dominio" placeholder="Dominio" @bind="_vehiculo.Dominio">
            <label for="dominio" class="form-label">Dominio</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="marca" placeholder="Marca" @bind="_vehiculo.Marca">
            <label for="marca" class="form-label">Marca</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="año-fab" placeholder="Año de fabricacion" @bind="_vehiculo.AñoFabricacion">
            <label for="año-fab" class="form-label">Año de fabricacion</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="titular-id" placeholder="Id del titular" @bind="_vehiculo.TitularId">
            <label for="titular-id" class="form-label">Id del titular</label>
        </div>
        <button @onclick="Cerrar" class="btn btn-success btn-ingresar">@if(_modificar){<span>Modificar</span>}else{<span>Agregar</span>}</button>
    </div>
}

@code{
    [Parameter] public int Id {get; set;}
    [Parameter] public EventCallback CerrarDialogo{get; set;}
    [Parameter] public EventCallback<string> OnError{get; set;}
    [Parameter] public bool Visible {get; set;} = false;
    bool _modificar = false;
    Vehiculo _vehiculo = new Vehiculo();
    string? _dominio;

    protected override void OnParametersSet() 
    {
        if(Id != 0){
            var _vehiculoEncontrado = GetVehiculoUseCase.Ejecutar(Id);
            if(_vehiculoEncontrado != null){
                _modificar = true;
                _vehiculo = _vehiculoEncontrado;
                _dominio = _vehiculo.Dominio;
            }
        }
    }
    void Cerrar(){
        Error error;
        error = _modificar ?ModificarVehiculoUseCase.Ejecutar(_vehiculo) : AgregarVehiculoUseCase.Ejecutar(_vehiculo);

        if(error.Mensaje != "") OnError.InvokeAsync(error.Mensaje);
        else CerrarDialogo.InvokeAsync();
    }
}