@inject AgregarTitularUseCase AgregarTitularUseCase;
@inject ModificarTitularUseCase ModificarTitularUseCase;
@inject GetTitularUseCase GetTitularUseCase;

<div>
@if(Modificar){
    <h1>Modificar al titular: @_titular.Nombre</h1>
}
else{
<h1>Agregar un titular</h1>
}
<input type="text" placeholder="Nombre" @bind="_titular.Nombre">
<input type="text" placeholder="Apellido" @bind="_titular.Apellido">
<input type="number" placeholder="DNI" @bind="_titular.DNI" maxlength="8">
<input type="text" placeholder="Dirección" @bind="_titular.Direccion">
<input type="tel" placeholder="Teléfono" @bind="_titular.Telefono">
<input type="email" placeholder="Email" @bind="_titular.Email">
<button @onclick="Cerrar">@if(Modificar){<span>Modificar</span>}else{<span>Agregar</span>}</button>
</div>

@code{
    [Parameter] public int Id {get; set;}
    [Parameter] public EventCallback CerrarDialogo{get; set;}
    [Parameter] public EventCallback OnError{get; set;}
    public string? MensajeError {get; private set; }
    public bool Modificar {get; set;} = false;
    Titular _titular = new Titular();

    protected override void OnParametersSet() 
    {
        if(Id != 0){
            var titularEcontrado = GetTitularUseCase.Ejecutar(Id);
            if(titularEcontrado != null)
            {
                _titular = titularEcontrado;
                Modificar = true;
            }
        }
    }
    void Cerrar(){
        Error error = new Error();
        if(Modificar)
        {
            error = ModificarTitularUseCase.Ejecutar(_titular);
        }
        else{
            AgregarTitularUseCase.Ejecutar(_titular);
        }

        if(error.Mensaje != "")
        {
            MensajeError = error.Mensaje;
            OnError.InvokeAsync();
        }
        else
        {
            CerrarDialogo.InvokeAsync();
        }
    }
}